*{
  box-sizing:border-box;
}

.dog-card{
  background-color:rgb(48, 215, 248);

  box-shadow: -3px 0 10px rgba(0,0,0,0.2);

  font-family: "Futura";
  text-transform: uppercase;
  grid-gap: 10px;
  position: relative;
  margin-bottom: 10px;
  padding-top: 50px;
}

.dog-picture{
  background-image: url("./puppy-test.jpg");
  background-size: cover;
  background-position: center 70%;
  border-radius: 100%;
  background-color: white;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.button{
  border: none;
  background-color: rgb(153, 153, 238);
  color:white;
  padding: 10px;
  text-transform:uppercase;
  border-radius: 3px;
}
.dog-info-main{
  width: 80px;
  height: auto;
  background-color: rgb(211, 209, 90);
  z-index: 2;
  top:75%;
  border-radius: 8px;
  border: 3px solid white;
  padding: 3px;
  left: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
}
.dog-info{

  background-color:white;
  padding-left: 20px;
  
  text-align: center;
  margin-top: 65px;
  font-size: 15px;
  padding: 30px;
  padding-top: 100px;
}