	.profile-pic{
			border-radius: 100%;
			width: 30px;
			height: 30px;
      background-color: red;
      display: inline-block;
      vertical-align: middle;
		}
		.user-item{
      width: auto;
      height: auto;
      padding: 5px;
      right: 250px;
      position: fixed;
      top: 20px;

      > p {
        color: white;
        display: inline-block;
        font-family: "Gotham-Book";
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        padding-right: 10px;
      }
		}
